body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbarNav {
  flex-direction: row-reverse;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 150px;
}

#logo {
  margin-right: 10px;
}